<ion-header>
  <ion-toolbar>
    <ion-title>
      Victims
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-activatable" *ngFor="let item of victims" (click)="addPoints(item.id)">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <span>{{item.VictimPoints}}</span>
            <ion-card-title>{{item.VictimName}}</ion-card-title>
            <!-- <ion-card-subtitle>Group: {{item.VictimGroup}}</ion-card-subtitle> -->
          </ion-card-header>
        </span>
        <ion-ripple-effect></ion-ripple-effect>


        <!-- <ion-fab horizontal="top">
          <ion-fab-list side="top">
            <ion-fab-button>
              <ion-icon name="trophy"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="end" (click)="addPoints(item.id)">
            <ion-fab-button color="danger">
              <ion-icon name="sad"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <ion-fab-button>
            <ion-icon name="options"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button (click)="RemoveRecord(item.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab> -->
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addVictim()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <!-- <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>